.header{
  position: fixed;
  z-index: 100;
  width: 200px;
  height: calc(100vh - 90px) ;
  top: 0;
  left: 0;
  background: rgb(0,0,0);
  overflow: hidden;
  transition: .3s;
}

.header > div{
  height: 100%;
}

.header-content{
  height: 100%;
  position: relative;
}

.header-content nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.header nav ul li {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
}

.header nav ul li a{
  width: 100%;
}

.header nav ul:nth-child(1){
  width: 80px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex: 0.6;
}

.header nav ul:nth-child(1) li{
  cursor: pointer;
  transition: .3s;
}

.header.show nav ul:nth-child(1) li{
  transform: rotate(45deg);
}
.menu{
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 80px;
  flex: 1;
}

.menu li{
  cursor: pointer; 
}

.menu li a{
  display: flex;
  gap: 25px
}

.nameMenu{
  color: white;
  font-family: "Poppins";
  font-size: 15px;
  letter-spacing: 1px;
}

.playList{
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playList > li:nth-child(1){
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.playList::before{
  content: "";
  height: 2px;
  width: 80%;
  background: rgb(140,140,140);
  display: block;
  transition: .3s;
  margin: 14px auto;
}

.playList span{
  color: rgb(220,220,220);
  font-family: "Roboto", "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
}

.playListUl{
  max-height: 200px;
  width: 100%;
  overflow: auto;
}
.playListUl::-webkit-scrollbar {
  width: 6px;
}
.playListUl::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100,100,100); 
}

.playListUl li{
  width: 100% !important;
  text-indent: 10px;
  height: max-content !important;
}

.playListUl li a{
  display: block;
  width: 170px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(180,180,180);
}

.playListUl li a:hover{
  color: rgb(240,240,240);
}

.criarPlayList{
  width: 100% !important;
  margin-top: 13px;
  text-indent: 10px;
}

.criarPlayList button{
  background: #E9E319;
  border: none;
  border-radius: 5px;
  padding: 6px 15px;
  font-family: "Poppins","Roboto", Helvetica, sans-serif;
  cursor: pointer;
  outline: none;
}

.sair{
  display: flex;
  justify-content: center;
  width: 80px;
  flex: 0;
  padding: 10px 0;
}

.sair li{
  cursor: pointer;
}