*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

body{
  background: rgb(29,29,29);
}

.container{
  max-width: 1400px;
  margin: 0 auto 0 200px;
  position: relative;
  padding: 20px;
}

.naoSelecionavel {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;    
  -moz-user-select: none;       
  -ms-user-select: none;        
  user-select: none;           
}